[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gurobipy = "==11.0.0"
black = "*"
colorlog = "*"
ortools = "*"
pytest = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10.4"
